.feedback__btn {
  margin: 5px;
  border-radius: 5px;
  width: 60px;
  height: 25px;
}
.good {
  composes: feedback__btn;
  background-color: green;
}
.neutral {
  composes: feedback__btn;
  background-color: yellow;
}
.bad {
  composes: feedback__btn;
  background-color: red;
}
